doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/resources/styles.css")
    link(rel="stylesheet", href="/resources/tThemes.css")
    script(type="text/javascript", src="/resources/jquery-3.2.1.min.js")
    script(type="text/javascript", src="/resources/vue.min.js")
  body
    div#framewrok
        header
            h1#logo Line
        article#content
          h1= message
          h2= error.status
          pre #{error.stack}
