doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/resources/styles.css")
    link(rel="stylesheet", href="/resources/themes.css")
    link(rel="stylesheet", href="/resources/mainPageStyle.css")
    script(type="text/javascript", src="/resources/jquery-3.2.1.min.js")
    script(type="text/javascript", src="/resources/knockout-3.4.2.js")
    script(type="text/javascript", src="/resources/mainPageScript.js")
    title Honoka
  body
    div#framework
        header.clearfix
          h1#logo
            a(href="/" data-bind="text: hostName")= hostName
          div#nameCard
            p#name(data-bind="text: userName")= userName
            p
              a#connectButton(href="/.repos/connection/connect/" data-bind="visible: connectButtonVisibility, click: connect") 接続
              a#disconnectButton(href="/.repos/connection/disconnect/" data-bind="visible: disconnectButtonVisibility, click: disconnect") 切断
        article#content
          div#messages.listview.messagesView(data-bind="foreach: lines" data-uri-selection="/.repos/lines/")
            div.messagesViewItem(data-bind="css: type")
              p.createdTime(data-bind="text: createdAtText")
              p.body(data-bind="text: text")
        footer.clearfix
          p#unreadsCount(data-bind="visible: unreadsCountVisibility")
            span.symbolIconFontStyle!= "&#xE7E7;"
            span.value(data-bind="text: unreadsCount")
          form#sendingMessage(method="post" action="/.repos/lines/create/" data-bind="submit: post")
            p#submit
              input#body.symbolIconFontStyle(name="text" type="text" value="" data-bind="textInput: text" required="required" autofocus="autofocus")
              button.symbolIconFontStyle(type="submit")!= "&#xE724;"