doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/resources/styles.css")
    link(rel="stylesheet", href="/resources/themes.css")
    link(rel="stylesheet", href="/resources/mainPageStyle.css")
    script(type="text/javascript", src="/resources/jquery-3.2.1.min.js")
    script(type="text/javascript", src="/resources/knockout-3.4.2.js")
    script(type="text/javascript", src="/resources/mainPageScript.js")
    title(data-bind="text: hostName")= hostName
  body
    div#framework
        header
          div.navigations
            h1#logo
              a(href="/") Lines
            nav
              ul.listView.horizontal
                li.listViewItem.selectedItem: a(href="/") 最新
                li.listViewItem: a(href="/diurnal/") 日別
          div.commands
            ul.listView.horizontal
              li.listViewItem
                form(action="/" method="get")
                  input(type="search" name="searchKeyword" value="" placeholder="検索" size="40" data-bind="textInput: searchKeyword")
              li.listViewItem.flyoutBase#connection
                a#cconnectionButton.symbolIconText(href="/connection/" data-bind="click: openToggleConnectionFlyout")
                  span(data-bind="visible: !isConnected()")!= "&#xF384;"
                  span(data-bind="visible: isConnected()")!= "&#xF385;"
                div.flyout(data-bind="visible: isConnectionFlyoutOpen")
                  p.subTitleTextStyle(data-bind="text: hostName, visible: hostName()")= hostName
                  p(data-bind="text: userName, visible: userName()")= userName
                  p(data-bind="visible: !isConnected()")
                    a.commandButtonStyle(href="/connection/connect" data-bind="click: connect") 接続
                  p(data-bind="visible: isConnected()")
                    a.commandButtonStyle(href="/connection/disconnect" data-bind="click: disconnect") 切断
        div#content
          div#linesView.listView.vertical(data-bind="foreach: lines")
            div.listViewItem(data-bind="css: type")
              p.type.symbolIconText(data-bind="html: typeSymbol")
              p.createdTime(data-bind="text: createdAtText")
              p.text(data-bind="text: text")
        footer
          p#unreadsCount(data-bind="visible: unreadsCountVisibility")
            span.symbolIconText!= "&#xE7E7;"
            span.value(data-bind="text: unreadsCount")
          form#sendingMessage(method="post" action="/" data-bind="submit: post, visible: isConnected")
            p#submit
              input#body.symbolIconText(name="text" type="text" value="" data-bind="textInput: text" required="required" autofocus="autofocus")
              button.symbolIconText(type="submit")!= "&#xE724;"