html,body
{
    height: 100%;
}

#framework
{
}

#framework > header
{
    position: fixed;
    width: auto;
    height: 40px;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
    line-height: 40px;
}

#framework > #content
{
}

#framework > footer
{
    position: fixed;
    width: auto;
    height: 40px;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
    line-height: 40px;
}

#framework > footer > *
{
    margin-right: 20px;
}

#framework > footer > *:last-child
{
    margin-right: 0px;
}


#sendingMessage
{
}

#sendingMessage form,
#sendingMessage form p
{
    margin-bottom: 0px;
}

#sendingMessage #body
{
    width: 600px;
}

.messagesView
{
    
}

.messagesView .messagesViewItem
{
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
    color: #808080;
}

.messagesView .messagesViewItem.chat,
.messagesView .messagesViewItem.wisper,
.messagesView .messagesViewItem.join,
.messagesView .messagesViewItem.leave
{
    color: #000000;
}

.messagesView .messagesViewItem.error
{
    color: #996666;
}

.messagesView .messagesViewItem .createdTime
{
    margin-bottom: 0px;
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 0.5em;
    color: #808080;
}

.messagesView .messagesViewItem p
{
    margin-bottom: 0px;
    white-space: pre-line;
}

.messagesView .messagesViewItem .actions
{
    margin-top: 6px;
    margin-left: 0px;
    list-style-type: none;
}

.messagesView .messagesViewItem .actions li
{
    margin-right: 8px;
    display: inline-block;
}

.messagesView .messagesViewItem .actions li:last-child
{
    margin-right: 0px;
}

#unreadsCount
{
    width: 40px;
    height: 40px;
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 20px;
    right: auto;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

#unreadsCount .symbolIconFontStyle
{
    margin-right: 4px;
}