html,body
{
    height: 100%;
}

#framework
{
}

#framework > header
{
    padding-bottom: 8px;
    position: fixed;
    width: auto;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
}

#framework > header #logo
{
    display: none;
}

#framework > header nav
{
    margin-left: 40px;
}

#framework > #content
{
    padding-left: 0px;
    padding-top: 48px;
}

#framework > footer
{
    position: fixed;
    width: auto;
    height: 40px;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
    line-height: 40px;
}

#framework > footer > *
{
    margin-right: 20px;
}

#framework > footer > *:last-child
{
    margin-right: 0px;
}

#connection .flyout
{
    right: 0px;
}

#connection .flyout .subTitleTextStyle
{
    margin-bottom: 0px;
}


#sendingMessage
{
}

#sendingMessage form,
#sendingMessage form p
{
    margin-bottom: 0px;
}

#sendingMessage #body
{
    width: 600px;
}

#linesView.listView
{
    
}

#linesView.listView .listViewItem
{
    color: #808080;
}

@media (max-width: 640px)
{
    #linesView.listView .listViewItem
    {
        margin-bottom: 20px;
    }

    #linesView.listView .listViewItem .createdTime
    {
        display: inline-block;
    }

    #linesView.listView .listViewItem .type
    {
        width: 20px;
        margin-left: 2px;
        margin-right: 2px;
        display: inline-block;
    }

    #linesView.listView .listViewItem .text
    {
        margin-left: 24px;
    }
}

@media (min-width: 641px)
{
    #linesView.listView .listViewItem
    {
        display: flex;
        margin-bottom: 4px;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 0px;
    }

    #linesView.listView .listViewItem .createdTime
    {
        flex: 0 0 172px;
        color: #808080;
    }

    #linesView.listView .listViewItem .type
    {
        flex: 0 0 40px;
        text-align: center;
    }

    #linesView.listView .listViewItem .text
    {
        flex: 1 1 auto;
        flex-grow: 1;
    }
}

#linesView.listView .listViewItem.chat,
#linesView.listView .listViewItem.wisper,
#linesView.listView .listViewItem.join,
#linesView.listView .listViewItem.leave
{
    color: #000000;
}

#linesView.listView .listViewItem.error
{
    color: #cc3333;
}

#linesView.listView .listViewItem > *
{
    margin-bottom: 0px;
    white-space: pre-line;
}

#linesView.listView .listViewItem > *:last-child
{
    margin-right: 0px;
}

#linesView.listView .listViewItem .createdTime
{
    color: #808080;
}

#linesView.listView .listViewItem .type
{
}

#linesView.listView .listViewItem .text
{
}

#unreadsCount
{
    width: 40px;
    height: 40px;
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: auto;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

#unreadsCount .symbolIconFontStyle
{
    margin-right: 4px;
}