@charset 'UTF-8';

/* ------------------------------------------------------------------------------------------------------------------ */
/* ページ */

html,body
{
    margin: 0px;
    height: 100%;
    background-color: #f6f6f6;
    font-family: 'Segoe UI', 'Meiryo', sans-serif;
}

a:link,
a:visited
{
    color: #00B5B5;
}

a:active,
a:hover
{
    color: #68D9D9;
}

#framework
{
    margin: 0px;
    min-height: 100%;
    position: relative;
}

#framework:last-child > *
{
    margin-bottom: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ヘッダ */

#framework > header
{
    padding: 0px 80px;
}

#framework > header #logo
{
    margin-right: 40px;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    line-height: 40px;
    font-weight: 500;
}

#framework > header #logo a
{
    display: block;
}

#framework > header #logo a:link,
#framework > header #logo a:visited
{
    color: #000000;
}

#framework > header #logo a:active,
#framework > header #logo a:hover
{
    color: #333333;
}

#framework > header #logo a img
{
    display: block;
}

#framework > header #nameCard
{
    padding: 10px 0px;
    float: right;
}

#framework > header #nameCard p
{
    margin-right: 8px;
    margin-bottom: 0px;
    float: left;
    color: #c0c0c0;
}

#framework > header #nameCard p:last-child
{
    margin-right: 0px;
}

#framework > header #nameCard a:link,
#framework > header #nameCard a:visited
{
    color: #808080;
}

#framework > header #nameCard a:active,
#framework > header #nameCard a:hover
{
    color: #909090;
}

#framework > header #nameCard p#name
{
    color: #666666;
}

#framework > header nav
{
    margin-right: 40px;
    padding: 10px 0px;
    float: left;
}

#framework > header nav ul
{
    margin: 0px;
    list-style-type: none;
}

#framework > header nav ul li
{
    margin-right: 12px;
    float: left;
}

#framework > header nav ul li:last-child
{
    margin-right: 0px;
}

#framework > header nav ul li a
{
    display: block;
}

#framework > header nav ul li a:link,
#framework > header nav ul li a:visited
{
    color: #c0c0c0;
}

#framework > header nav ul li a:active,
#framework > header nav ul li a:hover
{
    color: #ffffff;
}

#framework > header nav ul li.selectedItem a:link,
#framework > header nav ul li.selectedItem a:visited
{
    color: #00B5B5;
}

#framework > header nav ul li.selectedItem a:active,
#framework > header nav ul li.selectedItem a:hover
{
    color: #68D9D9;
}

#framework > header #commandBar
{
    margin: 0px;
    padding: 10px 0px;
    float: left;
}

#framework > header #commandBar ul
{
    margin: 0px;
    list-style-type: none;
    letter-spacing: -1em;
}

#framework > header #commandBar ul > li
{
    display: inline-block;
    letter-spacing: 0em;
}

#framework > header #commandBar ul > li a
{
    margin-right: 12px;
    display: block;
    color: #e0e0e0;
}

#framework > header #commandBar ul > li a:last-child
{
}

#framework > header #commandBar ul > li a:link, #framework > header #commandBar ul > li a:visited
{
}

#framework > header #commandBar ul > li a:active, #framework > header #commandBar ul > li a:hover
{
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ボディ */

#content
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    clear: both;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* フッタ */

#framework > footer
{
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    bottom: 0px;
    clear: both;
    color: #999;
}

#framework > footer #contentInfo
{
    margin-left: 0px;
    list-style-type: none;
}

#framework > footer #contentInfo li
{
    margin-right: 20px;
    display: inline-block;
}

#framework > footer #contentInfo li:last-child
{
    margin-right: 0px;
}

#framework > footer #contentInfo a:link,
#framework > footer #contentInfo a:visited
{
    color: inherit;
}

#framework > footer #contentInfo a:active,
#framework > footer #contentInfo a:hover
{
    color: #68D9D9;
}